<<<<<<< HEAD
header{
    background-color: #FF0000; height: 70px;width:100%;
=======
/*header styles*/
header {
	background-color: #FF0000;
	height: 70px;
	width: 100%;
>>>>>>> adf0a06294479d2aaf2dac9d8066dd0e77c18d88
}
